<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our page</h1>
    <ul>
        <li>Hello "<%=studentId.Name %>"</li>
        <li>your Age is "<%=studentId.Age %>"</li>
        <li>you have selected  "<%=studentId.Course %>" course</li>
        <li>And you have obtained "<%=studentId.MarksObtained %>""  out of  100</li>

      </ul>
      <%  %>
</body>
</html>